.fritst{
    background-color: orange;
    text-align: center;
    padding: 30px;
    margin: 20px;
}
.second{
    background-color: red;
    text-align: center;
    padding: 30px;
    margin: 20px;
}
.third{
    background-color: gray;
    text-align: center;
    padding: 30px;
    margin: 20px;
}